<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StarMan.Properties.Settings._22ConnectionString" connectionString="Data Source=ART-ПК\MSSQL;Initial Catalog=Diplom;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>